#editor {
    /*position: absolute;*/
    float: left;
    width: 1000px;
    height: 200px;
    font-size: 14px;
    margin: 10px;
}

.toolbar {
    float: left;
    width: 1000px;
    margin-left: 20px;
}

.ui.attached.tabular.menu.tabbar {
    float: left;
    width: 1000px;
    margin-left: 10px;
}

#grid {
    float: left;
    width: 1000px;
    height: 300px;
    margin: 10px;
}
