body {
    min-width: 500px;
}

#editor, #toolbar, #tabbar, #loading, #result {
    float: left;
    width: 99%;
    margin-left: 0.5%;
}

#editor {
    height: 200px;
    font-size: 14px;
    margin: 10px 0 10px 0.5%;
    resize:vertical;
    overflow:auto;
    border: 1px solid #ccc;
}

#toolbar {
    width: 450px;
    margin: 0 0.5%;
}

#toolbar button {
    z-index: 10000;
}

#toolbar button.change-size {
    cursor:move;
}

#result {
    margin: 10px 0 10px 0.5%;
}

#result div, #result textarea{
    width: 100%;
}

#message, #dsl {
    width: 1000px;
    height: 200px;
}

#elm_explain button {
    float: right;
    z-index: 100000000;
    margin: -3rem 1rem 0 0;
}
#loading {
    display: none;
    height: 300px;
    margin-top: 20px;
}
